.sobreNosotros{
    background: #EAF2FD;
    margin-top: 70px;
    padding-top: 20px;
}
.sobreNosotros__container{
    display: flex;
    height: 330px;
    justify-content: center;
    margin-top: 64px;
}
.alurageekYsobrenosotros{
    display: flex;
}
.sobreNosotros__links{
    width: 176px;    
}
.sobreNosotros__links__p{
    font-style: normal;
    font-weight: 500; 
    line-height: 29px;
}
.sobreNosotros__a{
    text-decoration: none;
}
.formContacto{
    height: 82px;
    width: 560px;
}

button.btn.btn-primary{
    align-items: center;
    display: flex;
    gap: 10px;
    height: 51px;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
}
.formContacto__btn{
    width: 144px;
}


.sobreNosotros__aluraGeek, .sobreNosotros__links, .formContacto{
    margin: 0 1rem 0 1rem;
}
textarea.form-control{
    margin-bottom: 20px;
}
.sobreNosotros__links p a{
    color: black;
    line-height: 2.7;
    /* margin-bottom: 0.4rem; */
}
.sobreNosotros__links p a:hover{
    color: blue;
}

a{
    text-decoration: none !important;
    display: flex;
    align-items: center;
}