.carousel-inner img {
  width: 100%;
  max-height: 460px;
}
.carousel-inner{
 height: 370px;
}

.carousel{
  width: 100%;
} 
.containerCarousel{
  border: 6px solid black;
  display: flex;
  justify-content: center;
  width: 100%;
}
.container__form__button{
    border: 3px solid rebeccapurple;
}