section.navbar{
    height: 115px;
    background: #FFFFFF;
}
img.logoAluraGeek{
    height: 30px;
    width: 40px;
}
.palabra{
    color: black;
    font-weight: 700;

}
.palabraAlura{
    color: rgb(27, 27, 223);
}
p{ 
    margin-bottom: 0 !important;
}
.palabraGeek{
    color:black;
}
a.navbar-brand{
    align-items: center;
    display: flex;
}
.container-fluid{
    display: flex;
}
.container__form__button{
    display: flex;
}
button.btn.btn-light{
    background-color: blanchedalmond;
    border: 2px solid lightcoral;
    color: brown;
    font-weight: 700;
    margin-right: 5px;
    /* width: 9rem; */
}
button.btn.btn-light:hover{
    border: 2px solid rgb(136, 72, 72);
}
input.form-control.me-2{
    border-radius: 20px;
    margin-left: 10px;
    width: 18rem;
}
nav.navbar.bg-light{
    background: #FFFFFF !important;
}
div.container-fluid{
    justify-content: flex-start !important;
}
