.pie{
    background: rgb(206, 164, 86);
    display: flex;
    justify-content: center;
    padding: 25px 0 20px 0;
}
.pie .pieName{
    display: flex;
    justify-content: center;
}
.pieDesarrollado__firma{
    display: flex;
}
.pieName{
    margin-bottom: 0 !important;
    color: black;
    font-weight: 700;
}