:root{
    --cardWidth: 12,5rem;
    --cardHeigth: 15.1rem;
    --cardMargin:0.62rem
}
section.categoriaProductos{  /* ALURA*/
    align-items: center;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

div.producto__titulo{  /* ALURA */
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin-top: 2.1rem;
    width: 85%;
}
.producto__titulo a{ /* Metodo para solo acceder a este 'a'(link)*/
    color: #2A7AE4;
    font-weight: 700;
}
.producto__titulo a i{
    margin-top: 2px;
}
.productos{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 85%;
}
div.card{
    width: var(--cardWidth);
    height: var(--cardHeigth);
    margin: var(--cardMargin);
    box-sizing: border-box;  /* Respeta que sea de 400x400px, toma en cuenta el margin y padding y border */
}

.producto__img{
    display: flex;
    height: 9rem;
    width: 10rem;
}
.nombreProducto{
    font-style: normal;
}
.precio{
    font-style: normal;
    font-size: 18px;
}


div.containerproductoNombre{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    
}
.container__verTodo{
    display: flex;
    align-items: center;
}
p{ 
    margin-bottom: 0 !important;
    color: black;
    font-weight: 700;
}    
p a{
    color: #2A7AE4;
}
a{
    text-decoration: none !important;
    display: flex;
    align-items: center;
}
